.a-button1 {
    color: #EA8030;
    border: 1.5px solid #EA8030;
}
.a-button2 {
    background: #EA8030;
}
.header_menu_listitem.active  a{ 
    color: #E44468;
    background: transparent;
}
.header_menu_listitem:hover  a{ 
    color: #E44468;
    background: transparent;
    transform: scale(1.02); 
}
.text {	
    color: #EA8030;
}
.text.current{
    color: #E44468;
}
.navlist_button a:hover {
    color: #E44468;
    transition: all 0.3s;
    transform: scale(1.01);
}
.a-button1:hover{
    background: #E44468;
    color: #fff;
    border: #E44468 1.5px solid;
}
.a-button2:hover{
    background: #E44468;
    color: #fff;
    border: #E44468 1.5px solid;
}
.navlist_button a {
    color: #EA8030;
}
.navlist_button a::after{
    background-image: url(../../images/jump_d.svg);
}
.navlist_button a:hover::after{
    background: url(../../images/jump_e.svg) center no-repeat;
}
.navlist_button a:hover {
    color: #E44468;
}
/* Keyvisual  */
.keyvisual {
    background-image:url(../images/product/diversity/case-kv.png) ;
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 26em;
    background-position: center;
    background-size: cover;
}  
.title {
    position: absolute;
    text-align: center;
    left: auto; 
    top: auto; 
}
.titlebg{
    font-size: 36px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0px;
    margin-top: 50px;
}
/* Contact Bar  */
.bottom_bg_btn{
    margin-top: 80px;
    width: 100%;
    background-color: #EA8030;
  }
  .bottom_bg_btn h1{
    padding-top: 60px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
  }
  .bottom_bg_p{
    width: 80%;
    padding-top: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
  }
  .bottom_btn_container{
    display: flex;
    height: auto;
    margin: 0 12vw;
    justify-content: center;
  }
  .bg_btn{
    width: 50%;
    background-color: transparent;
    padding-top: 20px; 
    padding-bottom: 20px; 
    text-align: center;
  }
  .rs_btn{
    color: #fff;
    font-weight: bold;
    margin-top: 6px;
  }
  .rs_btn:hover{
    color: #EA8030;
  }
  .rs_big_btn{
    width: 400px;
    height: 120px;
    border-radius: 100px;
    border: 2px solid #FFF;
    margin: 30px auto 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  .bottom_btn_inner{
    width: 400px;
    height: 120px;
    border-radius: 100px;
    border: 2px solid #FFF;
    margin: 30px auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  .rs_big_btn2{
    width: 400px;
    height: 120px;
    border-radius: 100px;
    border: 2px solid #FFF;
    margin: 30px auto 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  .rs_big_btn p:not(:first-child){
    font-size: 30px;
  }
  .bottom_btn_inner p:not(:first-child){
    font-size: 30px;
  }
  .rs_big_btn2 p:not(:first-child){
    font-size: 30px;
  }
  .rs_big_btn2:hover{
    background-color: #fff;
  }
  .rs_big_btn:hover{
    background-color: #fff;
  }
  .bottom_btn_inner:hover{
    background-color: #fff;
  }
  .rs_btn p{
    font-size: 16px;
    width: 400px;
    margin-bottom: 6px;
  }
  .rs_btn p:first-child{
    padding-top: 20px;
  }
  .rs_btn p:last-child{
    padding-top: 0px;
    padding-bottom: 20px;
  }
/* page content */
.contentbody{
    margin: 70px 12vw;
}
.casetitle{
    color: #EA8030;
    font-weight: 600;
    font-size: 28px;
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    margin-bottom: 40px;
}
.introbg{
    padding: 30px 7vw;
    background-color: #FFF9EF;
    border-radius: 14px;
}
.company, .topic{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 30px 0;
    background-color: #FFF;
    padding: 25px 30px;
    border-radius: 10px;
}
.introtext, .topictext{
    width: 86%;
}
.introtext h4{
    font-size: 16px;
    color: #EA8030;
    font-weight: bold;
}
.introtext p, .topictext p{
    margin: 0;
    line-height: 25px;
}
.introtext a{
    font-weight: bold;
    color: #EA8030;
}
.topictext p:not(:last-child) {
    border-bottom: 1.5px dashed #d7d7d7;
    padding: 15px 0;
}
.topictext p:last-child{
    padding-top: 15px;
}
.topictext p:first-child{
    padding-top: 0;
}
.companytitle, .topictitle{
    width: 14%;
}
.companytitle p, .topictitle p{
    line-height: 40px;
    font-weight: bold;
    color: #FFF;
    background-color: #EA8030;
    border-radius: 20px;
    margin: auto;
    width: 100%;
    text-align: center;
}
.companytitle{
    font-size: 14px;
} 
.topictitle{
    font-size: 17px;
    font-family: din-condensed, sans-serif;
    letter-spacing: 1px;
}
.message{
    padding: 30px 7vw;
    background-color: #FFF9EF;
    border-radius: 10px;
}
.msgtext{
    color: #EA8030;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}
.msgtext p{
    margin: 0 auto;
    line-height: 26px;
}
.casepagepic{
    margin: 30px auto;
}
.casepagepic img{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
}
.intro{
    margin: 30px auto;
}
.wp-block-heading{
    color: #EA8030;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto 30px;
}
.wp-block-heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #EA8030 10%, #d7d7d7 10%); 
    display: block;
}
.content p{
    line-height: 25px;
    margin-bottom: 20px;
}
.wp-block-image img{
    margin: 20px 0;
    border-radius: 10px;
}
.download{
    border-radius: 20px;
    padding: 30px 40px;
    border: #EA8030 2px solid;
    display: flex;
    width: 55%;
    margin: 70px auto 40px;
    align-items: center;
    justify-content: center;
}
.container-up, .container-lw{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left {
    margin-right: 20px;
    align-items: center;
    display: flex;
}
.left p {
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    border-radius: 50%;
    background-color: #EA8030;
    width: 90px;
    height: 90px;
    margin: auto 0;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.middle{
    padding-right: 20px;
    border-right: 2px solid #EA8030;
}
.right{
    color: #EA8030;
    position: relative;
    padding: 0 20px;
    font-weight: bold;
}
.right-sm{
    display: none;
}
.rightpic{
    content: "";
    background-image:url(../images/jump_d.svg);
    width: 33px;
    height: 20px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    flex-direction: column;
    background-position: center;
    background-size: cover;
}
.middle p:last-child{
    font-size: 20px;
    font-weight: bold;
    color: #2e2e2e;
    margin: 0;
}
.middle p:first-child{
    font-weight: bold;
    color: #EA8030;
    margin: 0;
}
.download:hover .container-lw{
    transform: translateX(4px);
    transition: all 0.35s;
}
.user-title{
    padding: 15px;
    width: 30%;
    background-color: #EA8030;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    margin: 80px auto 0;
}
.user-title p{
    margin: 0;
    font-size: 18px;
    color: #fff;
}
.pagelist{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0px;
    margin: 50px auto 40px;
    list-style: none;
}
.caseitem{
    width: calc(33.3% - 36px);
    padding: 25px;
    margin: 18px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
}
.casepic{
    width: 100%;
}
.casepic img{
    width: 100%;
    height: fit-content;
    border-radius: 8px;
}
.casesingle{
    color: #2e2e2e;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.companyname{
    margin: 18px auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.casetitledown{
    font-size: 16px;
    text-align: center;
}
.caselogo {
    height: 25%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 10px auto 0;
}
.caselogo img {
    max-width: 100%; 
    max-height: 100%; 
}
.caseitem a:hover{
    transform: scale(1.01);
    transition: all 0.4s;
    color: #2e2e2e;
}
.caseitem a:hover div{
    color: #EA8030;
}
.slick-next {
    right: -10px;
}
.slick-prev {
    left: -10px;
}
.contentbox_btn{
    padding: 0 60px;
    text-align: center;
}
.contentbox_btn a:hover {
    background-color: transparent;
    color: #EA8030;
}
.contentbox_btn a:hover::after {
    background-image:url(../images/jump_d.svg);
}
.contentbox_btn a{
    display: inline-block;
    border: solid 1.5px #EA8030;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    padding: 2px 25px;
    text-align: center;
    transition: all 0.3s; 
    background-color: #EA8030;
}
.contentbox_btn a::after{
    content: "";
    background-image:url(../images/jump_white.svg);
    background-size: 100% 100%; 
    width: 20px; 
    height: 13px;
    margin-left: 6px;
    display: inline-block;
}
@media(max-width:1700px) {
    .download{
        width: 64%;
    }
    .user-title{
        width: 40%;
    }
}
@media(max-width:1440px) {
    .download{
        width: 74%;
    }
    .contentbody{
        margin: 70px 10vw;
    }
}
@media(max-width:1220px) {
    .download{
        width: 74%;
    }
    .bottom_btn_container {
        display: flex;
        height: auto;
        margin: 0 8vw;
        justify-content: center;
    }
}
@media(max-width:1080px) {
    .header_items.expanded{
        background-color: #fff;
    }
    #nav-icon3 span {
    background: #EA8030;
    }
    .titlebg{
        font-size: 30px;
    }
    .download{
        width: 90%;
    }
    .contentbody{
        margin: 70px 6vw;
    }
    .rs_big_btn{
        width: 36vw;
      }
      .rs_big_btn2{
          width: 36vw;
      }
}
@media(max-width:980px) {
    .download{
        width: 100%;
    }
    .caseitem {
        width: calc(50% - 36px);
    }
    .rs_big_btn .rs_big_btn2 {
        width: 41vw;
    }
    .bottom_btn_container {
        margin: 0 4vw;
    }
    .rs_btn p {
        font-size: 15px;
    }
}
@media(max-width:768px) {
    .keyvisual {
        height: 20em;
    }
    .msgtext {
        font-size: 20px;
    }
    .company, .topic {
        flex-direction: column;
        padding: 40px 30px;
    }
    .companytitle, .topictitle {
        width: 110px;
    }
    .introtext, .topictext {
        width: 100%;
    }
    .download {
        border-radius: 15px;
        padding: 25px 30px;
    }
    .left p {
        font-size: 14px;
        width: 70px;
        height: 70px;
    }
    .middle p:last-child {
        font-size: 18px;
    }
    .middle {
        padding-right: 12px;
    }
    .right {
        padding: 0 8px 0 12px;
    }
    .rightpic {
        width: 25px;
        height: 13px;
    }
    .user-title {
        width: 50%;
    }
    .caseitem {
        width: calc(50% - 24px);
        margin: 12px;
    }
    .pagelist {
        width: 100%;
    }
    .bottom_btn_container{
        flex-direction: column; 
      }
      .rs_big_btn {
          margin: 30px auto 0px;
      }
      .rs_big_btn2 {
          margin: 30px auto 50px;
      }
      .rs_big_btn {
          width: 55vw;
      }
      .rs_big_btn2 {
          width: 55vw;
      }
      .bg_btn{
          width: 100%; 
      }
}
@media(max-width:568px) {
    .titlebg {
        font-size: 20px;
        padding: 12px;
    }
    .introtext p, .topictext p {
        font-size: 14.5px;
    }
    .msgtext {
        font-size: 18px;
    }
    .download {
        padding: 20px;
    }
    .download {
        flex-direction: column;
    }
    .middle {
        padding: 0px;
        border-right: none;
    }
    .right-sm{
        display: flex;
        color: #EA8030;
        position: relative;
        padding: 0;
        font-weight: bold;
    }
    .right{
        display: none;
    }
    .rightpic {
        width: 20px;
        height: 12px;
    }
    .container-lw {
        margin-top: 6px;
    }
    .user-title {
        width: 260px;
    }
    .caseitem {
        width: 100%;
        margin: 20px;
    }
    .rs_big_btn {
        width: 70vw;
      }
      .rs_big_btn2 {
          width: 70vw;
      }
      .bottom_bg_btn h1 {
          font-size: 24px;
      }
      .rs_big_btn p:not(:first-child) {
          font-size: 28px;
      }
}
@media(max-width:440px) {
    .keyvisual {
        height: 16em;
    }  
    .contentbody {
        margin: 70px 15px;
    }
    .container-up {
        flex-direction: column;
    }
    .download {
        padding: 18px;
    }
    .left {
        margin: 0 0 12px;
    }
    .middle{
        text-align: center;
    }
    .contentbox_btn {
        padding: 0 30px 0;
        text-align: center;
    }
    .contentbox_btn a {
        font-size: 14px;
        padding: 2px 20px;
    }
    .rs_big_btn {
        width: 83vw;
      }
      .rs_big_btn2 {
          width: 83vw;
      }
      .rs_btn p {
          font-size: 14.5px;
      } 
}