header {
    position: fixed;
    z-index: 10;
    width: 100%;
}
body{
	padding:0;
	margin:0;
	background:#F4F7FF;
	position:relative;
	font-family: 'Work Sans', sans-serif;
    font-family:  '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', sans-serif;
}
.topheader{
    position: fixed;
    background-color: transparent; 
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 150px;
    transition: background-color 0.4s ease;
}
.topheader.scrolled {
    background-color: #F4F7FF; 
}
.header_items{
    display: flex;
    justify-content: space-between;
}
.topheader_menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_menu_navlist{
    display: flex;
    margin: 0;
    list-style: none;
}
.header_menu_listitem{
    margin-right: 40px;
}
.header_menu_nav{
    display: flex;
    margin: 0;
    list-style: none;
}
.header_menu_btn{
    display: flex;
    margin: 0;
    list-style: none;
}
.header_menu_navlist, .header_menu_btnitem {
    list-style: none;
  }
.header_menu_btnitem:not(:last-child){
    margin-right: 10px;
}
.header_menu_btnitem:last-child{
    margin-right: 30px;
}
.a-button1{
    display: inline-block;
    background: #fff;
    border-radius: 25px;
    color: #0087CE;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    padding: 2px 30px;
    text-align: center;
    margin: 10px 10px 0px 0px;
    transition: 0.4s all;
    border: 1.5px solid transparent;
}
.a-button2{
    display: inline-block;
    background: #fff;
    border-radius: 25px;
    color: #EC2959;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    padding: 2px 15px;
    text-align: center;
    margin: 10px;
    transition: 0.4s all;
    border: 1.5px solid transparent;
}

.header_menu_listitem:hover  a{ 
    color: #fff477;
    background: transparent;
    transform: scale(1.03); 
    transition: all 0.4s;
    text-decoration:none;
}
.a-text{	
    text-transform: capitalize;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    position: relative;
    line-height: 21px;
    padding: 22px 0;
    display: block;
}
.a-text.current{
    text-transform: capitalize;
    color: #fff477;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    position: relative;
    line-height: 21px;
    padding: 22px 0;
    display: block;
}
.a-button1:hover{
    color: #0087CE;
    transform: scale(1.05); 
    transition: all 0.3s;
    text-decoration:none
}
.a-button2:hover{
    color: #EC2959;
    transform: scale(1.05); 
    transition: all 0.3s;
    text-decoration:none
}
.reason_text{
    width: calc(60% - 115px);
    margin-top: 0;
}
/* responsive design of menu part  */
.header_menu_btn_wrapper{
    display: none;
}
.header_menu_btn1{
    display: none;
}
.button{
    display: flex;
    justify-content: center;
}
.button li{
    margin: 0 5px;
}
.header button{
    height: 40px;
}
.navlist {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    background-color: #F4F7FF;
    flex-direction: column;
    justify-content: center;
    height: 0vh;
    display: none;
}
.navlist_button {
    padding: 0 5vw 0 0;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    height: 10.5vh; 
    line-height: 100%;
    border-bottom: 1px solid #d1d1d1;
}
.navlist_button a:hover {
    color: #0087CE;
    transition: all 0.3s;
    transform: scale(1.01);
}
.navlist_button:last-child{
    border-bottom:none;
}
.navlist_ul{
    padding-top: 2vh;
    padding-left: 20px;
    padding-right: 20px;
}
.navlist_button a {
    color: #2E2E2E;
    text-decoration: none;
    line-height: 10.5vh;
    display: block;
    position: relative;
}
.navlist_button a::after{
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 0;
    display: block;
    width: 20px;
    height: 13px;
    margin: auto;
    content: "";
    background-image: url(../images/jump.svg);
    background-size: auto;
    transition: all 0.3s;
}
.navlist_button a:hover::after{
    background-image: url(../images/jump_hover.svg);
}
.buttoninner{
    display: none;
}
.navbar-toggler{
    display: none;
}
#nav-icon3 {
    width: 30px;
    height: 36px;
    position: relative;
    margin: 13px 0 0 12px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
#nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
#nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 10px;
  }
  
 #nav-icon3 span:nth-child(4) {
    top: 20px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
.topheader.scrolled {
    background-color: #0087CE; 
}
@media(max-width:1440px) {
    .topheader{
        padding: 0 100px;
    }
    .header_menu_btnitem:not(:last-child){
        margin-right: 20px;
    }
    .header_menu_btnitem:last-child{
        margin-right: 0px;
    }
    .a-button1{
        margin:10px 0px 0px 0px;
    }
}
@media (max-width: 1200px) {
    .topheader{
        padding: 0 30px;
    }
    .header_menu_listitem {
        margin-right: 27px;
    }
    .header_menu_btnitem:not(:last-child){
        margin-right: 10px;
    }
    .header_menu_btnitem:last-child{
        margin-right: 0;
    }
}
@media(max-width:920px) {
    .header_items.expanded{
        background-color: #0087CE;
    }
    .navlist.expanded {
        box-shadow: 0px 20px 15px -10px rgba(84,92,96,.15) inset;
        display: block;
        height: 93vh;
      }
    section.expanded{
        display: none;
    }
    .topheader{
        padding: 0;
    }
    button:focus {
        outline:none;
      }
    .logo{
        order: 1;
    }
    .header_menu_btn_wrapper{
        display: flex;
        order: 2;
    }
    .header_menu_btn1{
        display: flex;
        margin: 0;
        list-style: none;
        align-items:center;
    }
    .navbar-toggler{
        display: block;
    }
    .topheader_menu{
        display: none;
    }
    .buttoninner{
        display: block;
    }
    .banner_w3lspvt{
        min-height: 28em;
    }
    .header_items{
        padding: 0 36px;
        justify-content: end;
    }
    .a-button1{
        margin:0px;
    }
}

@media(max-width:768px) {
    .header_items {
        padding: 0 30px;
    }
}

@media screen and (max-width:700px){
    .header_menu_btn{
        display: none;
    }
    .buttoninner{
        display: block;
    }
    .header_menu_btn1{
        display: none;
    }
}
@media(max-width:568px) {
    .navbar-toggler {
        padding: 0.25rem 0rem;
    }
    .header_items {
        padding: 0 5px;
    }
    .navlist_button a {
        line-height: 12vh;
    }
    .navlist_button {
        height: 12vh;
        padding: 0 1vw 0 0;
    }
}