.contentbody {
    margin: 70px 12vw;
}
/* To change the color of navbar */
.a-button1 {
    color: #5D4D92;
    border: 1.5px solid #5D4D92;
    margin-top: 0px;
}
.a-button2 {
    background: #5D4D92;
}
.header_menu_listitem.active  a{ 
    color: #E44468;
    background: transparent;
}
.header_menu_listitem:hover  a{ 
    color: #E44468;
    background: transparent;
    transform: scale(1.02); 
}
.keyvisual {
    background-image:url(../../images/product/1on1/1on1-inquiry.png) ;
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 26em;
    background-position: center;
    background-size: cover;
}  
.text {	
    color: #5D4D92;
    width: auto;
}
.text.current{
    color: #E44468;
}
.navlist_button a:hover {
    color: #E44468;
    transition: all 0.3s;
    transform: scale(1.01);
}
.a-button1:hover{
    background: #E44468;
    color: #fff;
    border: #E44468 1.5px solid;
}
.a-button2:hover{
    background: #E44468;
    color: #fff;
    border: #E44468 1.5px solid;
}
.navlist_button a {
    color: #5D4D92;
}
.navlist_button a::after{
    background-image: url(../../images/jump_1.svg);
}
.navlist_button a:hover::after{
    background: url(../../images/jump_e.svg) center no-repeat;
}
.navlist_button a:hover {
    color: #E44468;
}
.header_menu_btn {
    align-items: center;
}
.text-404{
    width: 60%;
}
.text-404 h1{
    font-size: 20px;
    font-weight: bold;
    color: #2E2E2E;
}
.titlebg{
    font-size: 40px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0px;
    margin-top: 60px;
  }
.buttons a {
    border: #5D4D92 solid 1.5px;
    color: #5D4D92;
}
.buttons a:hover {
    background: #5D4D92;
    color: #FFF;
    border: #5D4D92 solid 1.5px;
}
.list li::before {
    background: #5D4D92;
}
@media(max-width:1700px) {
    
}
@media(max-width:1440px) {
    
}
@media (max-width: 1220px) {
    
}
@media(max-width:1080px) {
    .header_items.expanded{
        background-color: #fff;
    }
    #nav-icon3 span {
    background: #5D4D92;
    }
    .titlebg{
        font-size: 32px;
      }
    .pagekv {
        max-width: fit-content;
        display: block;
        height: 24em;
    }
}
@media(max-width:980px) {
    
}
@media(max-width:768px) {
    .pagekv {
        max-width: fit-content;
        display: block;
        height: 18em;
    }
    .text-404 {
        width: 100%;
    }
    .keyvisual {
    height: 20em;
    }  
}
@media(max-width:568px) {
    .titlebg{
        font-size: 24px;
        }
}
@media(max-width:440px) {
    .pagekv {
        max-width: fit-content;
        display: block;
        height: 14em;
    }
    .keyvisual {
        height: 16em;
    }  
}