.contentbody {
    margin: 70px 12vw;
}
/* To change the color of navbar */
.a-button1 {
    color: #EA8030;
    border: 1.5px solid #EA8030;
}
.a-button2 {
    background: #EA8030;
}
.header_menu_listitem.active  a{ 
    color: #E44468;
    background: transparent;
}
.header_menu_listitem:hover  a{ 
    color: #E44468;
    background: transparent;
    transform: scale(1.02); 
}
.text {	
    color: #EA8030;
}
.text.current{
    color: #E44468;
}
.navlist_button a:hover {
    color: #E44468;
    transition: all 0.3s;
    transform: scale(1.01);
}
.a-button1:hover{
    background: #E44468;
    color: #fff;
    border: #E44468 1.5px solid;
}
.a-button2:hover{
    background: #E44468;
    color: #fff;
    border: #E44468 1.5px solid;
}
.navlist_button a {
    color: #EA8030;
}
.navlist_button a::after{
    background-image: url(../../images/jump_d.svg);
}
.navlist_button a:hover::after{
    background: url(../../images/jump_e.svg) center no-repeat;
}
.navlist_button a:hover {
    color: #E44468;
}
/* Keyvisual  */
.keyvisual {
    background-image:url(../../images/product/diversity/dv-bg.png) ;
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 26em;
    background-position: center;
    background-size: cover;
}  
.title {
    position: absolute;
    text-align: center;
    left: auto; 
    top: auto; 
}
.titlebg{
    font-size: 36px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0px;
    margin-top: 50px;
}
.pagetitle, .logotitle {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 30px auto;
    color: #EA8030;
}
.logotitle img{
    height: 42px;
}
.logotitle span{
    line-height: 42px;
}
.contentbox_btn{
    padding: 80px 60px 20px;
    text-align: center;
}
.contentbox_btn a:hover {
    background-color: transparent;
    color: #EA8030;
}
.contentbox_btn a:hover::after {
    background-image:url(../../images/jump_d.svg);
}
.contentbox_btn a{
    display: inline-block;
    border: solid 1.5px #EA8030;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    padding: 2px 25px;
    text-align: center;
    transition: all 0.3s; 
    background-color: #EA8030;
}
.contentbox_btn a::after{
    content: "";
    background-image:url(../../images/jump_white.svg);
    background-size: 100% 100%; 
    width: 20px; 
    height: 13px;
    margin-left: 6px;
    display: inline-block;
}
.function-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 80%;
    padding: 0px;
    margin: 50px auto 0;
}
.function-list li{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.function-text {
    width: calc(75% - 10px);
    margin-top: 0;
}
.function-p{
   margin: 0 auto;
   color: #2e2e2e;
   line-height: 25px;
}
.function-title{
    font-size: 20px;
    font-weight: bold;
    color: #EA8030;
    text-align: left;
    margin: 0;
}
.function-img{
    width: 20%;
    text-align: center;
}
.function-img-sp{
    display: none;
}
.function-img img, .function-img-sp img{
    width: 100%;
}
.function-line {
    display: block;
    height: 0;
    width: 50%;
    border-top: 2.5px solid #EA8030;
    margin: 20px 0;
}/* Contact Bar  */
.bottom_bg_btn{
    margin-top: 80px;
    width: 100%;
    background-color: #EA8030;
  }
  .bottom_bg_btn h1{
    padding-top: 60px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
  }
  .bottom_bg_p{
    width: 80%;
    padding-top: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
  }
  .bottom_btn_container{
    display: flex;
    height: auto;
    margin: 0 12vw;
    justify-content: center;
  }
  .bg_btn{
    width: 50%;
    background-color: transparent;
    padding-top: 20px; 
    padding-bottom: 20px; 
    text-align: center;
  }
  .rs_btn{
    color: #fff;
    font-weight: bold;
    margin-top: 6px;
  }
  .rs_btn:hover{
    color: #EA8030;
  }
  .rs_big_btn{
    width: 400px;
    height: 120px;
    border-radius: 100px;
    border: 2px solid #FFF;
    margin: 30px auto 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  .bottom_btn_inner{
    width: 400px;
    height: 120px;
    border-radius: 100px;
    border: 2px solid #FFF;
    margin: 30px auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  .rs_big_btn2{
    width: 400px;
    height: 120px;
    border-radius: 100px;
    border: 2px solid #FFF;
    margin: 30px auto 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  .rs_big_btn p:not(:first-child){
    font-size: 30px;
  }
  .bottom_btn_inner p:not(:first-child){
    font-size: 30px;
  }
  .rs_big_btn2 p:not(:first-child){
    font-size: 30px;
  }
  .rs_big_btn2:hover{
    background-color: #fff;
  }
  .rs_big_btn:hover{
    background-color: #fff;
  }
  .bottom_btn_inner:hover{
    background-color: #fff;
  }
  .rs_btn p{
    font-size: 16px;
    width: 400px;
    margin-bottom: 6px;
  }
  .rs_btn p:first-child{
    padding-top: 20px;
  }
  .rs_btn p:last-child{
    padding-top: 0px;
    padding-bottom: 20px;
  }
@media(max-width:1700px) {
    .contentbody {
        margin: 70px 8vw 60px;
    }
}
@media(max-width:1440px) {
    .reason_list {
        width: 100%;
        padding: 0px;
        margin: 50px auto 0;
    }
}
@media (max-width: 1220px) {
    .contentbody {
        margin: 70px 6vw;
    }
    .function-img {
        width: 24%;
        text-align: center;
    }
    .function-text {
        width: calc(70% - 10px);
        margin-top: 0;
    }
    .bottom_btn_container {
        display: flex;
        height: auto;
        margin: 0 8vw;
        justify-content: center;
    }
}
@media(max-width:1080px) {
    .header_items.expanded{
        background-color: #fff;
    }
    #nav-icon3 span {
    background: #EA8030;
    }
    .titlebg{
        font-size: 30px;
      }
      .rs_big_btn{
        width: 36vw;
      }
      .rs_big_btn2{
          width: 36vw;
      }
}
@media(max-width:980px) {
    .contentbody {
        margin: 70px 4vw 60px;
    }
    .function-line {
        margin: 14px 0;
    }
    .function-list {
        width: 90%;
    }
    .rs_big_btn .rs_big_btn2 {
        width: 41vw;
    }
    .bottom_btn_container {
        margin: 0 4vw;
    }
    .rs_btn p {
        font-size: 15px;
    }
}
@media(max-width:768px) {
    .contentbody {
        margin: 60px 30px;
    }
    .keyvisual {
        height: 20em;
    }  
    .function-list {
        width: 100%;
    }
    .function-text {
        width: calc(55% - 10px);
        margin-top: 0;
    }
    .function-img {
        width: 40%;
        text-align: center;
    }
    .bottom_btn_container{
        flex-direction: column; 
      }
      .rs_big_btn {
          margin: 30px auto 0px;
      }
      .rs_big_btn2 {
          margin: 30px auto 50px;
      }
      .rs_big_btn {
          width: 55vw;
      }
      .rs_big_btn2 {
          width: 55vw;
      }
      .bg_btn{
          width: 100%; 
      }
}
@media(max-width:568px) {
    .titlebg {
        font-size: 20px;
        padding: 12px;
    }
    .function-img{
        display: none;
    }
    .function-img-sp {
        display: block;
        text-align: center;
        margin: 0px auto 20px;
        width: 40%;
    }
    .function-list li {
        flex-direction: column;
    }
    .function-list li:nth-child(2n) .function-img-sp{
        order: -1;
    }
    .reason-text {
        width: 90%;
    }
    .function-title{
        text-align: center;
    }
    .function-line {
        margin: 20px auto;
        width: 40%;
    }
    .function-text {
        width: 90%;
    }
    .rs_big_btn {
        width: 70vw;
      }
      .rs_big_btn2 {
          width: 70vw;
      }
      .bottom_bg_btn h1 {
          font-size: 24px;
      }
      .rs_big_btn p:not(:first-child) {
          font-size: 28px;
      }
}
@media(max-width:440px) {
    .keyvisual {
        height: 16em;
    }  
    .contentbody {
        margin: 60px 20px;
    }
    .contentbox_btn {
        padding: 50px 30px 0;
        text-align: center;
    }
    .contentbox_btn a {
        font-size: 14px;
        padding: 2px 20px;
    }
    .function-img-sp {
        width: 45vw;
    }
    .function-text {
        width: 96%;
    }
    .function-title {
        font-size: 18px;
    }
    .function-list {
        gap: 40px
    }
    .rs_big_btn {
        width: 83vw;
      }
      .rs_big_btn2 {
          width: 83vw;
      }
      .rs_btn p {
          font-size: 14.5px;
      } 
}